.con3{
    width: 87vw;
    margin: 0.5vw 0vw 0vw 2vw;
    height: 3vw;
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 1vw;
}
.main1{
    margin: 0vw 1vw 0vw 2vw;
    width: 88vw;
    height: 42.5vw;
    font-size: 1vw;
}
.con4{
    margin: 0.5vw 0vw 0vw 0vw;
    float: left;
    width: 43vw;
    height: 3vw;
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 1vw;
}
.con5{
    margin: 0.5vw 0vw 0vw 1vw;
    float: left;
    width: 43vw;
    height: 3vw;
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 1vw;
}
.con6{
    float: left;
    margin: 0.5vw 0vw 0vw 0vw;
    width: 43vw;
    height: 18vw;
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 1vw;
}
.con7{
    float: left;
    margin: 0.5vw 0vw 0vw 1vw;
    width: 43vw;
    height: 18vw;
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 1vw;
}
.con8{
    float: left;
    margin: 0.5vw 0vw 0vw 0vw;
    width: 43vw;
    height: 20vw;
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 1vw;
}
.main2{
    float: left;
    margin: 0.5vw 0vw 0vw 1vw;
    width: 43vw;
    height: 20vw;
    font-size: 1vw;
}
.con9{
    width: 43vw;
    height: 9.75vw;
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 1vw;
}
.con10{ 
    margin: 0.5vw 0vw 0vw 0vw;
    width: 43vw;
    height: 9.75vw;
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 1vw;
}
