*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    }
	.layout{
        width: 100vw;
        height: 100vw;
    }
	.top{
        padding: 0.5vw;
		width: 100vw;
		height: 6vh;
		background-color: #2a2e32;
	}
    .main .left-menu{
		float: left;
		width: 11vw;
		height: 100vw;
        background-color: #37475a;
	}
    .main .content{
		float: left;
		width: 89vw;
		height: 100vw;
		background-color: #ececf4;
	}